@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "MickeyMouse";
    src: url('../fonts/MickeyMouse.otf') format('opentype');    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Namaku';
    src: url('../fonts/Namaku.woff2') format('woff2'),
         url('../fonts/Namaku.woff') format('woff'),
         url('../fonts/Namaku.ttf') format('truetype');    font-weight: normal;
    font-style: normal;
}

.button-small {
    @apply bg-bisque px-4 py-2 rounded-lg hover:bg-orange-300
}

.button-next-to-form {
    @apply bg-bisque px-4 py-2 rounded-r-lg hover:bg-orange-300
}

.form-next-to-button {
    @apply px-4 py-2 rounded-l-lg
}